<li class="tile">  
    {{#if image }}<div class="image">
    	<img src="{{ path image.url }}" alt="{{ image.alt }}">
    </div>{{/if}}
    <div class="text">
		<h2>
			<a class="tile-link" href="{{ url }}">{{ title }}</a>
		</h2>
		<h3 class="meta">{{ meta }}</h3>
		<p>{{ text }}</p>
	</div>
</li>  