<header role="banner" class="byu-header">
    <div class="site-banner">
        <a class="byu-link" href="https://byu.edu">
            <span class="visually-hidden">BYU</span>
        </a>
        <div class="titles">
            {{#if hierarchyLinks }}
                <nav class="hierarchy">
                {{#each hierarchyLinks }}<a href="{{ url }}">{{ title }}</a>{{/each}}
                </nav>
            {{/if}}
            {{#if supertitle }}<h2 class="site-subtitle">{{ supertitle }}</h2>{{/if}}
            <h1 class="site-title">
                <a href="{{ url }}">{{ title }}</a>
            </h1>
            {{#if subtitle }}<h2 class="site-subtitle">{{ subtitle }}</h2>{{/if}}
        </div>
        <div class="action-id-search">
            {{#with actionBtn}}
            <button class="action-btn"><a href="{{url}}">BYU News</a></button>
            {{/with}}
            {{#with search }}
            <form class="site-search" action="{{action}}">
                <label for="site-search">Search</label>
                <input type="search" id="site-search" name="{{paramName}}" aria-label="Site search" placeholder="Search">
                <button>
                    <img id="search-icon" src="https://cdn.byu.edu/shared-icons/latest/fontawesome/search-navy.svg" alt="Run Search">
                </button>
            </form>
            {{/with}}
        </div>
    </div>

    {{#if nav }}
    <nav class="site-navigation">
        <button aria-expanded="false">Menu</button>
        <ul>
            {{#each nav}}<li><a href="{{url}}">{{title}}</a></li>{{/each}}
        </ul>
    </nav>
    {{/if}}

</header>